<ion-content class="ion-no-padding opciones-content">
  <div class="wrapper">

    <!-- Logo  -->
    <div class="logo-area">
      <img src="assets/logo-moki.png" alt="MOKI" class="logo" />
    </div>

  
    <div class="buttons-area">
      <ion-button
        expand="block"
        shape="round"
        routerLink="/login"
        class="btn-iniciar">
        INICIAR SESIÓN
      </ion-button>

      <ion-button
        expand="block"
        fill="clear"
        shape="round"
        routerLink="/crear-cuenta"
        class="btn-crear">
        CREAR CUENTA
      </ion-button>
    </div>

  </div>
</ion-content>