<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/buscador-motos" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="detalle-content" *ngIf="moto">

  <!-- Imagen con badge encima -->
  <div class="moto-img-grande">
    <img [src]="moto.imagen || 'assets/placeholder-moto.png'" [alt]="moto.nombre" />
    <span class="badge-disponible">Disponible</span>
  </div>

  <!-- Nombre y precio  -->
  <div class="moto-header">
    <div class="moto-titulo">
      <h1>{{ moto.nombre }}</h1>
      <span class="precio">{{ moto.precio }}/hora</span>
    </div>
  </div>

  <!-- Descripción -->
  <p class="descripcion">{{ moto.descripcion }}</p>

  <!-- Especificaciones -->
  <div class="specs-section">
    <h2 class="specs-titulo">Especificaciones Técnicas</h2>

    <div class="spec-item">
      <div class="spec-icon">
        <ion-icon name="speedometer-outline"></ion-icon>
      </div>
      <div class="spec-data">
        <span class="spec-label">V. Máximo</span>
        <span class="spec-valor">{{ moto.velocidad }}</span>
      </div>
    </div>

    <div class="spec-item">
      <div class="spec-icon">
        <ion-icon name="map-outline"></ion-icon>
      </div>
      <div class="spec-data">
        <span class="spec-label">Kilometraje</span>
        <span class="spec-valor">{{ moto.kilometraje }}</span>
      </div>
    </div>

    <div class="spec-item">
      <div class="spec-icon">
        <ion-icon name="flash-outline"></ion-icon>
      </div>
      <div class="spec-data">
        <span class="spec-label">Consumo</span>
        <span class="spec-valor">{{ moto.consumo }}</span>
      </div>
    </div>

    <div class="spec-item">
      <div class="spec-icon">
        <ion-icon name="bicycle-outline"></ion-icon>
      </div>
      <div class="spec-data">
        <span class="spec-label">Tipo</span>
        <span class="spec-valor">{{ moto.tipo }}</span>
      </div>
    </div>
  </div>

  
  <div class="precio-total-row">
    <span class="precio-label">Precio total</span>
    <span class="precio-valor">{{ moto.precio }}/hora</span>
  </div>

</ion-content>

<div class="footer-btn" *ngIf="moto">
  <ion-button expand="block" class="btn-rentar" (click)="rentarAhora()">
    Rentar ahora
  </ion-button>
</div>