<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="perfil-title">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="perfil-content">

  <!--datos -->
  <div class="perfil-header">
    <div class="avatar-grande">{{ iniciales }}</div>
    <span class="perfil-nombre">{{ nombreUsuario }}</span>
    <span class="perfil-email">{{ emailUsuario }}</span>
  </div>

  <!-- Cerrar sesión -->
  <div class="cerrar-sesion-area">
    <ion-button expand="block" class="btn-cerrar" (click)="cerrarSesion()">
      Cerrar sesión
    </ion-button>
  </div>

  <div class="version-text">Versión 1.0 • (nombre app)</div>

</ion-content>