<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/mis-rentas" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="detalle-owner-content" *ngIf="renta">

  <!-- Imagen -->
  <div class="moto-img-grande">
    <img
      [src]="renta.motorcycle.imageUrl || 'assets/placeholder-moto.png'"
      [alt]="renta.motorcycle.name">

    <span [ngClass]="getClaseEstado(renta.status)">
  {{ getEstadoTexto(renta.status) }}
</span>
  </div>

  <!-- Nombre -->
  <div class="moto-header">

    <div class="moto-titulo">
      <h1>{{ renta.motorcycle.name }}</h1>

      <span class="precio">
        ${{ renta.motorcycle.pricePerHour }}/hora
      </span>
    </div>

    <!-- Fechas -->
    <div class="info-row">
      <ion-icon name="calendar-outline"></ion-icon>

      <span>
        {{ renta.startDate | date:'dd/MM/yyyy' }}
        -
        {{ renta.endDate | date:'dd/MM/yyyy' }}
        ({{ renta.totalDays }} días)
      </span>
    </div>

  </div>

  <div class="divider"></div>

  <!-- Método de pago -->
  <div class="seccion">

    <h2 class="seccion-titulo">
      Método de pago
    </h2>

    <div class="pago-card">

      <div class="pago-icono">
        <ion-icon name="card-outline"></ion-icon>
      </div>

      <div class="pago-info">

        <span class="pago-numero">
          **** **** **** {{ renta.cardNumber?.slice(-4) }}
        </span>

        <span class="pago-nombre">
          {{ renta.cardName }}
        </span>

      </div>

      <ion-icon
        name="checkmark-circle"
        class="pago-check">
      </ion-icon>

    </div>

  </div>

  <div class="divider"></div>

  <!-- Resumen -->
  <div class="seccion">

    <h2 class="seccion-titulo">
      Resumen total
    </h2>

    <div class="resumen-row">

      <span class="resumen-label">
        Renta ({{ renta.totalDays }} días)
      </span>

      <span class="resumen-valor">
        {{ renta.totalPrice | currency:'MXN':'symbol' }}
      </span>

    </div>

    <div class="resumen-row">

      <span class="resumen-label">
        Estado del pago
      </span>

      <span class="resumen-valor">
        {{ renta.paymentStatus }}
      </span>

    </div>

    <div class="resumen-row total-row">

      <span class="resumen-label total-label">
        Total
      </span>

      <span class="resumen-valor total-valor">
        {{ renta.totalPrice | currency:'MXN':'symbol' }}
      </span>

    </div>

  </div>

</ion-content>

<div class="footer-btn" *ngIf="renta">
  <ion-button
    expand="block"
    class="btn-cancelar"
    (click)="cancelarRenta()">

    Cancelar

  </ion-button>
</div>