<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="section-title">
      Mis rentas de moto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="rentas-content">

  <div
    class="renta-card"
    *ngFor="let renta of rentas"
    (click)="verDetalle(renta.id)"
  >

    <div class="renta-img">

      <ion-badge [ngClass]="getClaseEstado(renta.status)">
  {{ getEstadoTexto(renta.status) }}
</ion-badge>

      <img
        [src]="renta.motorcycle?.imageUrl"
        [alt]="renta.motorcycle?.name"
        class="moto-img"
      />

    </div>

    <div class="renta-info">

      <div class="renta-row">

        <span class="renta-nombre">
          {{ renta.motorcycle?.name }}
        </span>

        <span class="renta-precio">
          ${{ renta.motorcycle?.pricePerHour }}/hora
        </span>

      </div>

      <span class="renta-dias">

        Días:
        {{ renta.totalDays }}

        |

        Entrega:
        {{ renta.endDate | date:'dd/MM/yyyy' }}

      </span>

      <ion-button
        expand="block"
        class="btn-detalles"
        (click)="verDetalle(renta.id); $event.stopPropagation()">

        Ver detalles

      </ion-button>

    </div>

  </div>

  <div
    *ngIf="rentas.length === 0"
    class="sin-rentas">

    No tienes rentas registradas.

  </div>

</ion-content>