<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar">

    <ion-tab-button tab="dashboard" href="/admin/dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="motorcycles" href="/admin/motorcycles">
      <ion-icon name="bicycle-outline"></ion-icon>
      <ion-label>Motos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sos" href="/admin/sos">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>SOS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
